<!DOCTYPE html>
<html id="remote">
<link rel="stylesheet" type="text/css" href="static/css/main.css">
<body class="body_remote">

<div align="center">
    <table>
        <tbody>
            <tr>
                <td id='team_a_logo_col' class="logo">
                    <img src="" alt="" id="team_a_logo"/>
                </td>
                <td id='team_a_color_col' class="team_color"></td>
                <td class="name">
                    <p id="team_a_name"></p>
                </td>
                <td id="set_a_1">
                    <p id="team_a_set_1"></p>
                </td>
                <td id="set_a_2">
                    <p id="team_a_set_2"></p>
                </td>
                <td id="set_a_3">
                    <p id="team_a_set_3"></p>
                </td>
                <td id="set_a_4">
                    <p id="team_a_set_4"></p>
                </td>
                <td id="set_a_5">
                    <p id="team_a_set_5"></p>
                </td>
            </tr>
            <tr>
                <td id='team_b_logo_col' class="logo">
                    <img alt="" id="team_b_logo"/>
                </td>
                <td id='team_b_color_col' class="team_color"></td>
                <td class="name">
                    <p id="team_b_name"></p>
                </td>
                <td id="set_b_1">
                    <p id="team_b_set_1"></p>
                </td>
                <td id="set_b_2">
                    <p id="team_b_set_2"></p>
                </td>
                <td id="set_b_3">
                    <p  id="team_b_set_3"></p>
                </td>
                <td  id="set_b_4">
                    <p id="team_b_set_4"></p>
                </td>
                <td id="set_b_5">
                    <p id="team_b_set_5"></p>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="score_button">
      <div class="column">
        <div class="title" id="team_a_name_btns">Équipe A</div>
        <button class="control_btn btn_color" id="increment_a">+</button>
        <button class="control_btn btn_color" id="decrement_a">-</button>
      </div>
      <div class="column">
        <div class="title" class="control_set_text">Set</div>
        <button class="control_set_btn btn_color" id="increment_set">+</button>
        <button class="control_set_btn btn_color" id="decrement_set">-</button>
      </div>
      <div class="column">
        <div class="title" id="team_b_name_btns">Équipe B</div>
        <button class="control_btn btn_color" id="increment_b">+</button>
        <button class="control_btn btn_color" id="decrement_b">-</button>
      </div>
    </div>

    <div align="center">
        <p><button class="large_btn" id="reload">Reload</button></p>
        <p><button class="large_btn" onclick="window.location.href = '';">Index</button></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="static/js/script.js"></script>
  </body>
  <html></html>
</html>
