<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<body>


    <p>Team A name&nbsp;<input id="team_a_name_input"></input></p>
    <label>Team A logo</label> 
    <select id="team_a_logo">
        <option value="">None</option>
    </select>

    <p />
    <p />

    <p>Team B name&nbsp;<input id="team_b_name_input"></input></p>
    <label>Team B logo</label>
    <select id="team_b_logo"> 
        <option value="">None</option>
    </select>

    <p />
    <button id="new_game">Nouveau Match</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="/static/js/setup.js"></script>
    
</body>
<html>
    